.d-block {
    display: block;
}

.d-iblock {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

.d-iflex {
    display: inline-flex;
}

.d-grid {
    display: grid;
}

.d-igrid {
    display: inline-grid;
}